/* ==========================================================================
MODULO 1: COMPONENTES DE LA PANTALLA DE LOGIN
   ========================================================================== */

#img {
    width: 130px;
    backdrop-filter: blur;
    border-radius: var(--radius-md);
    opacity: 0.9;
}

.seccion-blanca {
    padding-top: 25px;    
    padding-bottom: 25px; 

}

.grupo-input label {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.login-container input[type="text"], 
.login-container input[type="password"],
#formulario-login input[type="text"],
#formulario-login input[type="password"] {
    padding: 12px;
    border: 1px solid var(--secondary);
    border-radius: 8px;
    background-color: var(--accent);
    width: 100% !important;
}

.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}


#formulario-login {
    height: auto !important;
    max-height: calc(100vh - 80px);
}


.box-visible {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.8rem;
    color: var(--muted-foreground);
}

#submit {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#submit:hover { 
    background-color: #302b63; 
}

#mensaje-error {
    display: none;
    color: var(--destructive);
    font-size: 0.8rem;
    margin-top: 10px;
    text-align: center;
}

@keyframes sacudir {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
}